<!doctype html>
<html ng-app="myApp">
  <head>
    <title>Bookshop - Your Online Bookshop</title>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  </head>
  <body>

    <div ng-controller="Book" class="container">

      <h2>Your Online Bookshop</h2>

      <div>
        <input type="search" ng-model="search">
      </div>

      <ul>
        <li ng-repeat="name in names | filter:search">{{name.name}}:{{name.age}}</li>
      </ul>

    </div>

    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script>
      var myApp = angular.module("myApp", []);
      myApp.controller("Book", ["$scope", function($scope){
        $scope.names = [{name: "roderic", age: 10}, 
                        {name: "daniel", age: 20}, 
                        {name:"reham", age: 30}];

      }])
    </script>
  </body>
</html>
