<!doctype html>
<html ng-app="myApp">
  <head>
    <title>show name</title>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  </head>
  <body>

    <div ng-controller="List" class="container">

      <h2>Renter</h2>

      <div>
        <input type="search" ng-model="search">
      </div>

      <ul>
        <li ng-repeat="name in names | filter:search">
          {{name.name}}:{{name.age}}
          <button class="btn btn-primary" ng-click="remove($index)">x</button>
          <span ng-show="$first">first</span>
          <span ng-show="$middle">middle</span>
          <span ng-show="$last">last</span>
        </li>
      </ul>


      <span>There are {{names.length}} in the apartment</span>
      <div>
        <label for="name">Name:</label>
        <input ng-model="new_name">
        <br>

        <label for="age">Age:</label>
        <input type="number" ng-model="new_age">
        <br>
        <button ng-click="add()">add</button>
      </div>
      
      <!--if here no ng-model, the name cannot show -->
      <select  ng-model="selected_person" ng-options="person.name for person in names | filter:search"><option value="">choose a person</option></select>
      <span>{{selected_person.name}} {{selected_person.age}}</span>
      
      <div>
        <label for="name">Name:</label>
        <input ng-model="selected_person.name">
        <br>

        <label for="age">Age:</label>
        <input type="number" ng-model="selected_person.age">
        <br>
      </div>

    </div>

    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script>
      var myApp = angular.module("myApp", []);
      myApp.controller("List", ["$scope", function($scope){
        $scope.names = [{name: "roderic", age: 10}, 
                        {name: "daniel", age: 20}, 
                        {name:"reham", age: 30}];

        $scope.add = function(){
          $scope.names.push({
            name: $scope.new_name,
            age:  $scope.new_age
          }) 
          $scope.new_age  = '';
          $scope.new_name = '';
        };

        $scope.remove = function(index){
          $scope.names.splice(index, 1);
        }
      }])
    </script>
  </body>
</html>
